body{
    margin:45px;
}

#Us{
    text-align: center;
    padding-top: 65px;
    text-rendering: geometricPrecision;
    color: coral;
    font-family: 'Courier New', Courier, monospace;
    font-size:2cm;
    cursor: pointer;
}

.dropdown-item{
  cursor: pointer;
}

#searchArea{
  min-height:20cm;
}

#search{
  width: 50%;
  padding:auto;
}

#search input {
  margin-top:8.5cm;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;

}

#search button{
  margin-top: 8.5cm;
  border-radius: 5px;
}

.autocom-box{
  padding: 10px 20px;
  min-height: 150px;
  max-height: 280px;
  background-color: white;
  border-radius: 5px;
  max-width: 89%;

}

.searchPic{
  width:180px;
  height: 110px;
}

.autocom-box li{
  display: inline;
  cursor: pointer;
}


.nav-item{
    padding:5px
}
 
#welcomeMsg{
  padding-right: 15px;
  font-family: monospace;
  cursor: pointer;
}

#loginPrompt{
    margin-top: 6.07cm;
    width:35%;
    margin-right: auto;
    margin-left: 31.6cm;
  
   
}
  
  input[type="text"]::placeholder {
    color: #bbb;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
  }
  
  /* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  #submitBtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }

 
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  

  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn {
       width: 100%;
    }
  }

#signUpBtn{
  margin-left:11.5cm;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}  
  
#review{
  cursor: pointer;
}

#favs{
  cursor: pointer;
}

#insertHotel{
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-left: 100px;

}


.hotelPic{
  width :320px;
  height :200px;
  margin-right: 45px;
  margin-bottom: 45px;

}


#closer{
  background-color: coral;
  padding-bottom: 25px;
}

#ourName{
  font-family: monospace;
  padding-top: 25px;
  font-weight: bolder;
  cursor: pointer;
}
#contactBtn{
  font-family: 'Courier New', Courier, monospace;
  padding: 5px;
}

#about{
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

.resultcards {
  display: grid;
  grid-template-rows: repeat(auto-fill,minmax(150px,1fr));
  gap:.25rem;
  margin-top: 1rem;
}

.card{
  border: 1px solid black;
  background-color: white;
  padding: .5rem;
}

.card > header {
  font-size: .8rem;
}

.hide {
  display: none;
}


/*signup section*/
#signUp{
  width: 40%;
  margin: auto;
}

/* Extra styles for the cancel button */
#signUp .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
#signUp .cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

#signUp .signupbtn {
  padding: 14px;
}

/* Add padding to container elements */
#signUp .container {
  padding: 16px;
}

/* Clear floats */
#signUp .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  #signUp .cancelbtn, .signupbtn {
    width: 100%;
  }
}